{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="col" style="background-image: url(../static/images/back7.jpg)">
    <div>
        <h1 class="text-center ">
            <br>
            <br>
            <br>
            Distinguished Scientists And Mentors
        </h1>
        <br>
        <br>
        <br>
        <br>

    </div>
</div>

<div class="container-fluid" style="margin-top:70px;">
    <div class="row mt-2">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <img src="../static/images/Prof JP Pandey (1).jpg" class="img-fluid" />
            <h4 class="text-center fw-bold mt-3">J.P. Pandey</h4>
            <p class="text-center" style="font-family:'Sans Serif Collection'; font-style:italic">
                CEO Biotech Park<br />
                (V.C) Dr. APJ Abdul Kalam Technical University.
            </p>
        </div>
        <div class="col-sm-7">
            <h5>Message from the CEO</h5>
            <hr />
            <p style="text-align:justify; font-family:'Sans Serif Collection'">
                Dear Students,
                <br />
                As the Chief Executive Officer of Biotech Park and the Vice Chancellor of Dr. APJ Abdul Kalam Technical
                University, it gives me immense pleasure to connect with you. You are the future innovators, leaders,
                and changemakers of our society.

                Remember, the journey of a thousand miles begins with a single step. Each challenge you face is an
                opportunity to learn, grow, and excel. Embrace every moment with curiosity and passion. The world of
                biotechnology and technology is vast and full of endless possibilities. Your hard work, dedication, and
                innovative spirit will pave the way for groundbreaking discoveries and advancements.

                Believe in yourself, stay committed to your goals, and never shy away from thinking big. Success is not
                just about achieving your dreams but also about making a positive impact on the world around you.
                Together, let's create a brighter, healthier, and more sustainable future.

                Keep pushing boundaries, stay curious, and remember that the power to change the world lies within you.

                Best wishes for your journey ahead.
                <br />

                Warm regards,
                <br />

                <b>J.P. Pandey</b>
                <br />
                <b>Chief Executive Officer, Biotech Park</b>
                <br />
                <b>(V.C) Dr. APJ Abdul Kalam Technical University</b>
                <br />
                <b> Tel: +91 522-2635050, 4012091 (Ext. 101), 2733174 (Direct)</b>
                <br />
                <b>
                    Email:- ceo@biotechpark.org.in
                </b>
            </p>
        </div>
    </div>
</div>
{% endblock %}