{% extends 'base.html' %}
{% block body %}
 {% load static %}
 <div class="col" style="background-image: url(../static/images/back7.jpg)">
    <div>
    <span><h1 class="text-center ">
      <br>
      <br>
      <br>
      Our Collaborators</h1>
      <br>
      <br>
      <br>
      <br>

  </div>
  </div>
 <div class="container-fluid py-5">
    <div class="container px-lg-5">
 <div class="row g-4 py-2">


    <div class="col-lg-3 col-md-6 wow fadeInUp rounded-0" data-aos="zoom-in-up">
        <div class="team-item border-top rounded-0 shadow overflow-hidden" style="border-top: 6px solid rgb(4, 89, 209) !important;">
            <div class="text-center p-4">
                <img class="img-fluid mb-4 cardimg" src="../static/images/Prof. Tapas K. Kundu.jpg" style=" height: 230px; width: 230px !important" alt="">
                <h6 class="fw-bold mb-1">Prof. Tapas K. Kundu</h6>
                <hr />
                <small>CENTRAL DRUG RESEARCH INSTITUTE - CDRIs</small>
            </div>
            <div class="vbn d-flex justify-content-center p-3" style="background-image: linear-gradient(to right,rgb(4, 89, 209),rgb(18, 121, 5));">
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-phone"></i></a>
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-envelope"></i></a>
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-fax"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
        <div class="team-item border-top rounded-0  shadow overflow-hidden" style="border-top: 6px solid rgb(4, 89, 209) !important;">
            <div class="text-center p-4">
                <img class="img-fluid mb-4 cardimg" src="../static/images/prabodh sir 1.jpg" style=" height:230px; width:230px !important" alt="">
                <h6 class="fw-bold mb-1">Dr. Prabodh Kumar Trivedi</h6>
                <hr />
                <small>
                    CENTRAL INSTITUTE OF MEDICINAL AND AROMATIC PLANTS - CIMAP
                </small>
            </div>
            <div class="vbn d-flex justify-content-center p-3" style="background-image: linear-gradient(to right,rgb(4, 89, 209),rgb(18, 121, 5));">
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-phone"></i></a>
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-envelope"></i></a>
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-fax"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
        <div class="team-item border-top rounded-0  shadow overflow-hidden" style="border-top: 6px solid rgb(4, 89, 209) !important;">
            <div class="text-center py-4">
                <img class="img-fluid mb-4 px-4 cardimg" src="../static/images/sk barik.jpg" style=" height: 230px; width: 230px !important" alt="">
                <h6 class="fw-bold mb-1">Prof. S.K. Barik</h6>
                <hr />
                <small>INDIAN INSTITUTE OF TOXICOLOGY RESEARCH - IITR</small>
            </div>
            <div class="vbn d-flex justify-content-center p-3" style="background-image: linear-gradient(to right,rgb(4, 89, 209),rgb(18, 121, 5));">
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-phone"></i></a>
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-envelope"></i></a>
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-fax"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
        <div class="team-item border-top rounded-0  shadow overflow-hidden" style="border-top: 6px solid rgb(4, 89, 209) !important;">
            <div class="text-center py-4">
                <img class="img-fluid mb-4 px-4 cardimg" src="../static/images/kuldeep.jpg" style=" height: 230px; width: 230px !important" alt="">
                <h6 class="fw-bold mb-1">Dr. Kuldeep Kumar Lal</h6>
                <hr />
                <small>NATIONAL BUREAU OF FISH GENETIC RESOURCES - NBFGR</small>
            </div>
            <div class="vbn d-flex justify-content-center p-3" style="background-image: linear-gradient(to right,rgb(4, 89, 209),rgb(18, 121, 5));">
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-phone"></i></a>
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-envelope"></i></a>
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-fax"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- ==================================================== -->

<div class="row g-4 py-2">
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
        <div class="team-item border-top rounded-0  shadow overflow-hidden" style="border-top: 6px solid rgb(4, 89, 209) !important;">
            <div class="text-center p-4">
                <img class="img-fluid mb-4 cardimg" src="../static/images/alokdhawan.jpg" style=" height: 230px;  width: 230px !important" alt="">
                <h6 class="fw-bold mb-1">Prof. Alok Dhawan</h6>
                <hr />
                <small>CENTRE OF BIOMEDICAL RESEARCH - CBMR</small>
            </div>
            <div class="d-flex justify-content-center p-3" style="background-image: linear-gradient(to right,rgb(4, 89, 209),rgb(18, 121, 5));">
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-phone"></i></a>
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-envelope"></i></a>
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-fax"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
        <div class="team-item border-top rounded-0 shadow overflow-hidden" style="border-top: 6px solid rgb(4, 89, 209) !important;">
            <div class="text-center p-4">
                <img class="img-fluid mb-4 cardimg" src="../static/images/RadhaKrishanDhiman.jpg" style=" height: 230px; width: 230px !important" alt="">
                <h6 class="fw-bold mb-1">Prof. Radha Krishan Dhiman</h6>
                <hr />
                <small>S.G POST GRADUATE INSTITUTE OF MEDICAL SCIENCES - SGPGIMS</small>
            </div>
            <div class="d-flex justify-content-center p-3" style="background-image: linear-gradient(to right,rgb(4, 89, 209),rgb(18, 121, 5));">
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-phone"></i></a>
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-envelope"></i></a>
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-fax"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
        <div class="team-item border-top rounded-0  shadow overflow-hidden" style="border-top: 6px solid rgb(4, 89, 209) !important;">
            <div class="text-center py-4">
                <img class="img-fluid mb-4 px-4 cardimg" src="../static/images/wpg.jpeg"  style=" height: 230px; width: 230px !important" alt="">
                <h6 class="fw-bold mb-1">Dr. A.D. Pathak</h6>
                <hr />
                <small>INDIAN INSTITUTE OF SUGARCANE RESEARCH - IISR</small>
            </div>
            <div class="d-flex justify-content-center p-3" style="background-image: linear-gradient(to right,rgb(4, 89, 209),rgb(18, 121, 5));">
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-phone"></i></a>
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-envelope"></i></a>
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-fax"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
        <div class="team-item border-top rounded-0  shadow overflow-hidden" style="border-top: 6px solid rgb(4, 89, 209) !important;">
            <div class="text-center py-4">
                <img class="img-fluid mb-4 px-4 cardimg" style=" height: 230px; width: 230px !important" src="../static/images/AlokKumarRai.jpg" alt="">
                <h6 class="fw-bold mb-1">Prof Alok Kumar Rai</h6>
                <hr />
                <small>
                    Vice Chancellor -LUCKNOW <br /> UNIVERSITY
                </small>
            </div>
            <div class="d-flex justify-content-center p-3" style="background-image: linear-gradient(to right,rgb(4, 89, 209),rgb(18, 121, 5));">
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-phone"></i></a>
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-envelope"></i></a>
                <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-fax"></i></a>
            </div>
        </div>
    </div>
    <!--  -->
    
    <div class="row g-4 py-2">
        <div class="col-sm-3"></div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
            <div class="team-item border-top rounded-0  shadow overflow-hidden" style="border-top: 6px solid rgb(4, 89, 209) !important;">
                <div class="text-center p-4">
                    <img class="img-fluid mb-4 cardimg" src="../static/images/bipinpuri.jpg" style=" height: 230px; width: 230px !important" alt="">
                    <h6 class="fw-bold mb-1">Bipin Puri PVSM, VSM (RETD.)
                    </h6>
                    <hr />
                    <small>KING GEORGE'S MEDICAL UNIVERSITY - KGMU</small>
                </div>
                <div class="d-flex justify-content-center p-3" style="background-image: linear-gradient(to right,rgb(4, 89, 209),rgb(18, 121, 5));">
                    <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-phone"></i></a>
                    <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-envelope"></i></a>
                    <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-fax"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
            <div class="team-item border-top rounded-0 shadow overflow-hidden" style="border-top: 6px solid rgb(4, 89, 209) !important;">
                <div class="text-center p-4">
                    <img class="img-fluid mb-4 cardimg" src="../static/images/sanjaysingh.jpg" style=" height: 230px; width: 230px !important" alt="">
                    <h6 class="fw-bold mb-1">Prof. Sanjay Singh</h6>
                    <hr />
                    <small>BABASAHEB BHIMRAO AMBEDKAR UNIVERSITY - BBAU</small>
                </div>
                <div class="d-flex justify-content-center p-3" style="background-image: linear-gradient(to right,rgb(4, 89, 209),rgb(18, 121, 5));">
                    <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-phone"></i></a>
                    <a class="btn btn-square  bg-white m-1" href="#"><i class="fa-solid fa-envelope"></i></a>
                    <a class="btn btn-square  bg-white m-1" href=""><i class="fa-solid fa-fax"></i></a>
                </div>
            </div>
        </div>

       

    </div>
</div>
</div></div>
<!-- ======================== -->

 
{% endblock %}