{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="col" style="background-image: url(../static/images/back7.jpg)">
    <div>
        <h1 class="text-center ">
            <br>
            <br>
            <br>
            Distinguished Scientists And Mentors
        </h1>
        <br>
        <br>
        <br>
        <br>

    </div>
</div>

<div class="container" style="margin-top:70px;">
    <div class="row mt-2">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <img src="../static/images/Dr. V.P. Kamboj .jpg" class="img-fluid" />
            <h4 class="text-center fw-bold mt-3">Dr. V.P. Kamboj</h4>
            <p class="text-center" style="font-family:'Sans Serif Collection'; font-style:italic">
                NASI Honorary Scientist
            </p>
        </div>
        <div class="col-sm-7">
            <h5>
                Dr. Ved Prakash Kamboj: Pioneer in Reproductive Biology
            </h5>
            <hr />
            <p style="text-align:justify; font-family:'Sans Serif Collection'">
                Dr. Ved Prakash Kamboj, born in 1937 in Jullundur, Punjab, India, is a distinguished scientist celebrated for his pioneering contributions to reproductive biology, fertility regulation, and endocrinology. Educated at Punjab University, Chandigarh, he earned his B.Sc (Honors), M.Sc. (Honors), Ph.D., and D.Sc. Kamboj furthered his expertise with advanced training in Reproductive Biology and Contraceptive Technology in Germany.

                Joining the Central Drug Research Institute (CDRI) in Lucknow in 1961, Kamboj rose to become its Director in 1992. His tenure was marked by significant advancements in contraceptive technology, notably the development of ormeloxifene, a nonsteroidal contraceptive pill.

                As President of the National Science Academy of India (2005-2006), Kamboj played a crucial role in shaping India's scientific policies and research priorities. He has authored over 300 research papers and articles in renowned scientific journals, contributing profoundly to the field.

                Kamboj's exceptional contributions have earned him prestigious accolades such as the Ranbaxy Research Award and Vigyan Gaurav Samman, highlighting his profound impact on medical science and his enduring commitment to advancing scientific knowledge in India.

             </p>
        </div>
    </div>
{% endblock %}