{% extends 'base.html' %}
{% block body %}
 {% load static %}
 <div class="col" style="background-image: url(../static/images/back7.jpg)">
    <div>
    <h1 class="text-center ">
      <br>
      <br>
      <br>
      Outreach Activities</h1>
      <br>
      <br>
      <br>
      <br>

  </div>
  </div>
  


<div class="container-fluid mt-5 md-4">
    <div class="row">
        <div class="col-sm-10 mx-auto font-family">
    <h5>Focus: Biotechnology Industry in Uttar Pradesh</h5>
    <hr />
    <p style="text-align:justify;">The focus of the Park is to promote growth of bio-pharma, agri-biotechnology and bio-service sectors by inviting biotech industry to the State; work in collaboration with state agencies and central institutes of R&D and learning; and transform the society for higher crop productivity, better human health, greater employment opportunities and improved quality of life. The Park plans to achieve this by translation of technologies relevant to health and nutrition, cleaner environment and enhanced farm production for overall growth of the state.</p>
    <h5>Park Serving the Society</h5>
    <hr />
    <p style="text-align:justify">Serving the society is a part of the mission envisioned by the Biotech Park. It organizes programs for farmers and society to make them aware of latest advances & applications and provide latest biotechnology products accessible to farmers to improve their agriculture and horticulture output. Biotech Park has established a Plant Health Clinic for identification of diseases and pests in crops apart from diagnosing biotic and abiotic stress. It also advises eco-friendly control measures and management of diseases and deficiencies.</p>
</div>
</div>
</div>

 {% endblock %}