{% extends 'base.html' %}
{% block body %}
<div class="row mx-auto m-5">
       
        
  <div class="col-sm-10 ">
    <h6>The Park is located in the city close to ring road and is easily approachable.</h6>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28460.14962931965!2d80.97686467199708!3d26.918765838357682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399957b90f3c39ef%3A0xdf9814e6dc29867b!2sJankipuram%20Biotech%20Park!5e0!3m2!1sen!2sin!4v1725885107234!5m2!1sen!2sin"
      width="1500" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>

  </div>
  <div class="col-sm-2"></div>
  
</div>


{% endblock %}