{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="col" style="background-image: url(../static/images/back7.jpg)">
    <div>
        <h1 class="text-center ">
            <br>
            <br>
            <br>
            Distinguished Scientists And Mentors
        </h1>
        <br>
        <br>
        <br>
        <br>

    </div>
</div>



<div class="container-fluid" style="margin-top:70px;">
    <div class="row">
        <div class="col-sm-10 mx-auto">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card shadow vv" style="border-radius:0px;">
                    <img src="../static/images/smishra1.jpg" height="330" class="w-100 p-2" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Dr. Shashank Mishra</h5>
                        <hr />
                        <p class="card-text text-center">Central Instrumentation Facility</p>


                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow vv" style=" border-radius:0px;">
                    <img src="../static/images/deepika.png" style="height:330px; " class="w-100 p-2" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Dr. Deepika Yadav
                        </h5>
                        <hr />
                        <p class="card-text text-center">
                            Bioinformatics
                        </p>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow vv" style=" border-radius:0px;">
                    <img src="../static/images/women (2).png" style="height:300px; " class="w-100 p-2" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Dr. Shakti Mehrotra</h5>
                        <hr />
                        <p class="card-text text-center">
                            Molecular Biology and Plant Tissue Culture

                        </p>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow vv bn" style="border-radius:0px;">
                    <img src="../static/images/women (2).png" style="height:300px; " class="w-100 p-2" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Dr. Vineeta Singh</h5>
                        <hr />
                        <p class="card-text text-center">
                            Microbiology and Industrial Biotechnology
                        </p>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
    </div>
</div>


{% endblock %}